{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for movie in movies %}
        <div class="col mb-3">
            <div class="card mb-4" style="width: 30rem;">
                <div class="card-body">
                    <div class="font">
                        <div class="row">
                            <div class="col mb-6">
                                <p>Nom: {{movie.title}}</p> 
                                <p>Réliser par: {{movie.director[0].name}}</p>
                                <p>En {{movie.year}}</p>
                                <a class="btn btn-primary"  href="{{path('detail_movie',{'id': movie.id})}}">Détail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}     
</div>
{% endblock %}
